<section id="hero" class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <span class="hero__badge badge"> Зроблено в Україні 🇺🇦 </span>

      <h1 class="hero__title">
        Світлова картина, яка <span class="hero__accent">оживляє</span> ваш
        інтер’єр
      </h1>

      <p class="hero__description">
        Декоративний LED світильник з підсвіткою для дому, спальні або
        подарунку. Оберіть готовий дизайн або створіть унікальний зі своїм фото.
      </p>

      <div class="hero__buttons">
        <a href="catalog.html" class="btn btn--primary">Обрати дизайн</a>

        <button class="btn btn--secondary js-open-modal">
          Створити кастомний
        </button>
      </div>
    </div>

    <div class="hero__image-frame js-frame">
      <img
        class="hero__image"
        src="./images/hero-image-glow.png"
        srcset="
          ./images/hero-image-glow.png    1x,
          ./images/hero-image-glow@2x.png 2x
        "
        alt="Світлова картина з підсвіткою"
      />

      <button class="btn btn--glass hero__toggle js-light-toggle">
        <span class="hero__toggle-text">💡 Вимкнути</span>
      </button>
    </div>
  </div>
</section>
